 <mat-card appearance="outlined">
  <h3>{{ language.menu_option_name_Sorteos }}</h3>
  <mat-card-content>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <button nz-button nzType="primary" (click)="showModal(settings.add_permission_text)" *askForPermission="
        settings.add_permission_text +
        '_' +
        language.menu_option_module_name_Sorteos
      ">
        <span nz-icon nzType="lock" nzTheme="outline"></span>
        {{ settings.add_permission_text }}
      </button>

      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="sorteoId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.sorteoId}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaSorteo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.table_column_name_date_Sorteos }} </th>
          <td mat-cell *matCellDef="let element"> {{ getFormattedDate(element.fechaSorteo) }} </td>


        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.table_column_name_description_Sorteos }} </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.table_column_name_status_Sorteos }} </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="boletos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.table_column_name_boletos_Sorteos }} </th>
          <td mat-cell *matCellDef="let element"> {{element.boletos}} </td>
        </ng-container>

        <ng-container matColumnDef="numerosSorteos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.table_column_name_nums_Sorteos }} </th>
          <td mat-cell *matCellDef="let element"> {{element.numerosSorteos}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ language.action_text }} </th>
          <td mat-cell *matCellDef="let row">
            <ng-container
              *askForPermission="
                settings.edit_permission_text +
                '_' +
                language.menu_option_module_name_Sorteos
              "
            >
              <button nz-button nzType="primary" (click)="showModal(settings.edit_permission_text,row)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </button>
            </ng-container>

            <ng-container
              *askForPermission="
                settings.delete_permission_text +
                '_' +
                language.menu_option_module_name_Sorteos
              "
            >
              <button nz-button nzType="primary" (click)="showModal(settings.delete_permission_text,row)">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>


    </div>
  </mat-card-content>
</mat-card>


<nz-modal
[(nzVisible)]="isVisible"
nzTitle="{{modalTitle}}"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
>

<form [formGroup]="form">
<p *nzModalContent>



  @if (modalAction===settings.add_permission_text) {


      <input style="display: none;" formControlName="sorteoId" matInput>

    <br>
    <mat-form-field>
      <mat-label>descripcion</mat-label>
      <input formControlName="descripcion" matInput>
    </mat-form-field>
    <br>

    <p-calendar formControlName="fechaSorteo"
  [showTime]="true"
  hourFormat="24"
  dateFormat="yy-mm-dd"
  timeFormat="HH:mm:ss"
  [showButtonBar]="true"
  [disabled]="false">
</p-calendar>

  }@else if (modalAction===settings.edit_permission_text) {

    <input style="display: none;" formControlName="sorteoId" matInput>
    <br>
    <mat-form-field>
      <mat-label>descripcion</mat-label>
      <input formControlName="descripcion" matInput>
    </mat-form-field>
    <br>

    <p-calendar formControlName="fechaSorteo"
  [showTime]="true"
  hourFormat="24"
  dateFormat="yy-mm-dd"
  timeFormat="HH:mm:ss"
  [showButtonBar]="true"
  [disabled]="false">
</p-calendar>
  }@else if (modalAction===settings.delete_permission_text) {

    <input style="display: none;" formControlName="sorteoId" matInput>
    <br>
    <mat-form-field>
      <mat-label>descripcion</mat-label>
      <input readonly="true" formControlName="descripcion" matInput>
    </mat-form-field>
    <br>

    <p-calendar readonly="true" formControlName="fechaSorteo"
  [showTime]="true"
  hourFormat="24"
  dateFormat="yy-mm-dd"
  timeFormat="HH:mm:ss"
  [showButtonBar]="true"
  readonlyInput="true"
  [disabled]="true">
</p-calendar>
  }


</p>
</form>
</nz-modal>
