 <nz-layout>
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="6">
        <app-drawer></app-drawer>
      </div>
      <div nz-col nzSpan="6">
        <h3 style="color: white;">{{language.hello_message}} {{currentUser.nombre}}</h3>
      </div>
      <div nz-col nzSpan="6">
        <!-- Replace with actual content or remove -->
        <p>Placeholder Content</p>
      </div>
      <div nz-col nzSpan="6">


          <div class="example-button-container">
            <button mat-fab extended (click)="onLogOut()">
              <mat-icon>logout</mat-icon>
              Log out
            </button>
          </div>

      </div>
    </div>
  </nz-header>
  <nz-content>

      <div *ngIf="activeComponent$ | async as activeComponent">
        <app-roles
          *ngIf="activeComponent === language.menu_option_module_name_Roles"
        ></app-roles>
      </div>

      <div *ngIf="activeComponent$ | async as activeComponent">
        <app-modules
          *ngIf="activeComponent === language.menu_option_module_name_Modules"
        ></app-modules>
      </div>

  </nz-content>
  <nz-footer>
    <!-- Customize footer content -->
    Footer
  </nz-footer>
</nz-layout>
