/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card-container{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-top: 100px;
  }

  .form-custom {
    min-width: 150px;
    width: 100%;
  }

  .input-custom {
    width: 100%;
  }
